{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        {{ if ne .Type "page" }}
        <time>{{ .Date.Format "2006-01-02" }}</time>
        {{ end }}
        {{ with .Params.categories }}
        <span>
            {{ range . }}
            <a href="/category/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
        </span>
        {{ end }}
    </header>

    <div>
        {{ .Content }}
    </div>

    <footer>
        {{ with .Params.tags }}
        <div>
            <span>标签</span>
            <div>
                {{ range . }}
                <a href="/tag/{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </footer>
</article>
{{ end }}
